<div class="flex justify-center mx-6 md:mx-10 lg:mx-14">
  <div
    class="p-8 md:p-12 grid grid-flow-row sm:grid-flow-col gap-x-8 items-center justify-between elevated"
  >
    <section class="md:mr-4">
      <h3>Contribute to the Genics Blog!</h3>

      <p>
        Genics Blog is a purely
        <a
          href="https://github.com/genicsblog"
          rel="nofollow noreferrer noopener"
          target="_blank"
          class="cta-link"
          >open source</a
        >
        publication. Authors at Genics post highly resourceful content on varied
        topics relevant to the developer community. Join us and start publishing
        today!
      </p>
    </section>

    <a
      class="px-4 py-1.5 mt-8 md:mt-0 md:ml-4 linkbtn underline-none font-bold text-lg"
      href="{{ site.baseurl }}/contribute"
    >
      Contribute
    </a>
  </div>
</div>
