<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.excerpt != blank %}
    {% assign description = page.excerpt %}
{% elsif page.description != blank %}
    {% assign description = page.description %}
{% else %}
    {% assign description = site.description %}
{% endif %}

{% if page.layout == "archive" %}
    {% if site.data.descriptions[page.autopages.display_name] != blank %}
        {% assign description = site.data.descriptions[page.autopages.display_name]  %}
    {% endif %}
{% endif %}

<meta name="description" content="{{ description }}">
<meta name="twitter:description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

{% if page.sitemap == false or page.url == "/404" %}
<meta name="robots" content="noindex">
{% endif %}

<!-- Open grah tags -->
<meta property="og:title" content="{{ page.title }}">
{% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
{% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/images/social/cover.jpg">
{% endif %}
{% if page.image_alt != blank %}
    <meta property="og:image:alt" content="{{ page.image_alt }}">
{% else %}
    <meta property="og:image:alt" content="{{ page.title }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@genicsblog">
{% if page.image %}
    <meta name="twitter:image" content="{{ page.image }}">
{% endif %}

{% if site.data.authors[page.author].links.twitter != blank %}
<meta name="twitter:creator" content="@{{ site.data.authors[page.author].links.twitter }}" />
{% endif %}

{% if page.layout == "post" %}
<meta property="og:type" content="article">
<meta property="article:section" content="{{ page.category }}" />
<meta property="article:tag" content="{{ page.tags | join: ', ' }}" />
<meta property="article:author" content="{{ site.url }}{{ site.baseurl }}/author/{{ page.author | downcase }}/" />
<meta property="article:published_time" content="{{ page.date | date:'%Y-%m-%dT%H:%M:%S%z' }}" />
{% else %}
<meta property="og:type" content="website">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: '/index.html', '' }}">

{% if page.original != blank %}
<link rel="canonical" href="{{ page.original }}">
{% else %}
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: '/index.html', '' }}">
{% endif %}

<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?{% if page.layout == 'post' %}family=Fira+Code&{%endif%}family=Sen&display=swap"
    rel="stylesheet">
{% if page.hasCode == true %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/prism.css">
{% endif %}

<script>
    if (localStorage.getItem("color-theme")) {
        if (localStorage.getItem("color-theme") === "light") {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
            localStorage.setItem("rotated", "false");
        } else {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
            localStorage.setItem("rotated", "true");
        }
    } else {
        localStorage.setItem("color-theme", "light");
        localStorage.setItem("rotated", "false");
    }
</script>

{% if jekyll.environment == "production" %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics }}");
</script>

<script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense-data-ad-client }}"
    crossorigin="anonymous"></script>
{% endif %}