<!-- prettier-ignore -->
{% if include.environment == 'production' %}
{% assign optimize = site.img_src_prefix.header %}
{% assign optimizeAvatar = site.img_src_prefix.avatar %}
{% endif %}
{% assign author = site.data.authors[include.author] %}
{% assign category = include.category %}
<a
  class="mt-4 mb-6 px-6 pt-2 pb-6 postbox hover:border-{{ category }} dark:hover:!border-{{ category }} underline-none"
  href="{{ site.baseurl }}{{ include.url }}"
>
  <img
    src="{{ optimize }}{{ include.image }}"
    alt="{{ include.title }}"
    title="{{ include.title }}"
    class="aspect-video w-full mt-4"
  />

  <div class="mt-6 mb-16">
    <h2 class="line-clamp-2">{{ include.title }}</h2>
    <p class="line-clamp-3">{{ include.excerpt }}</p>
  </div>

  <div class="absolute mt-20 right-6 bottom-6 left-6">
    <div class="flex items-center justify-between mt-6">
      <div class="flex items-center">
        <img
          src="{{ optimizeAvatar }}{{ author.avatar }}"
          alt="{{ author.name }}'s Profile Picture"
          title="{{ author.name }}'s Profile Picture"
          class="rounded-full w-10 h-10"
          width="40px"
          height="40px"
        />

        <span class="ml-2">{{ author.name | split:' ' | first}}</span>
      </div>

      <span>{{ include.date | date:"%b %e, %Y" }}</span>
    </div>
  </div>
</a>
